.TextMoney{
	color: green;
	font-family: Arial;
	font-style: italic;
}
.Text{
    font-size: 25px;
}
.Sale{
	color: lightgreen;
	font-family: Times New Roman;
	font-style: italic;
	font-size: 20px;
	background: red;
	padding: 5px;
	border: 2px solid olive;
}
.Sale:hover{
	color: olive;
	font-family: Times New Roman;
	font-style: italic;
	font-size: 23px;
	background: red;
	padding: 4px;
	border: 3px solid lightgreen;
}