button, input{
	background: blue;
	color: #eeeeee;
	border: 3px solid #adadad;
	border-radius: 5px;
	padding: 5px;
}
button:hover, input:hover{
	background: lightblue;
	color: #232323;
	border: 4px solid #afafaf;
	border-radius: 7px;
	padding: 6px;
}
.cp{
	font-size: 12px;
	font-family: Times New Roman;
}